<section id="details" class="details">
    <div class="container">
        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="/assets/details-1.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-4" data-aos="fade-up">
                <h3>Optimisez les Services Notariaux avec NotaireFacile</h3>
                <p class="fst-italic">
                    NotaireFacile est une solution complète pour simplifier et automatiser les tâches administratives des notaires.
                </p>
                <ul>
                    <li><i class="bi bi-check"></i> Sauvegarde et gestion des données des acheteurs.</li>
                    <li><i class="bi bi-check"></i> Sauvegarde et gestion des données des vendeurs.</li>
                    <li><i class="bi bi-check"></i> Organisation des informations sur les terrains.</li>
                    <li><i class="bi bi-check"></i> Création, sauvegarde et téléchargement des actes notariés en PDF.</li>
                    <li><i class="bi bi-check"></i> Gestion des procurations pour enfants mineurs avec génération de documents PDF.</li>
                </ul>
                <p>
                    Avec NotaireFacile, simplifiez vos processus et améliorez votre efficacité quotidienne.
                </p>
            </div>
        </div>

        <section id="team" class="team">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>Équipe</h2>
                    <p>Notre Équipe Dédiée</p>
                </div>

                <div class="row" data-aos="fade-left">
                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Mohamed Mahmoud Hanenne</h4>
                                <span>Développeur</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Ely Mohamed Abdoulah Meima</h4>
                                <span>Développeur</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="300">
                            <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Mama Hamoud Cheikh Ahmed</h4>
                                <span>Développeuse</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright Groupe PFE ISCAE 2024<strong><span></span></strong>
        </div>
        <div class="credits">
            Développé par Groupe PFE
        </div>
    </div>
</footer>
