<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Acheteurs</h3>
                </div>
                <div class="panel-body">
                    <div id="chart1">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                            <div class="icon"><i class="fas fa-users"></i></div>
                            <h4 class="title"><a href="">Gestion des Acheteurs</a></h4>
                            <p class="description">Sauvegardez et gérez toutes les données des acheteurs facilement et en toute sécurité.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Vendeurs</h3>
                </div>
                <div id="chart2" class="panel-body">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="fas fa-users"></i></div>
                        <h4 class="title"><a href="">Gestion des Vendeurs</a></h4>
                        <p class="description">Sauvegardez et gérez toutes les données des vendeurs de manière efficace.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Terrains</h3>
                </div>
                <div class="panel-body">
                    <div id="chart3">
                        <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                            <div class="icon"><i class="fas fa-file-signature"></i></div>
                            <h4 class="title"><a href="">Gestion des Terrains</a></h4>
                            <p class="description">Organisez et stockez les informations sur les terrains de façon structurée.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Actes</h3>
                </div>
                <div id="chart4" class="panel-body">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon"><i class="fas fa-file-pdf"></i></div>
                        <h4 class="title"><a href="">Gestion des Actes</a></h4>
                        <p class="description">Créez, sauvegardez et téléchargez les actes notariés en format PDF en toute simplicité.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    
</div>


<script type="text/javascript">
    jQuery(function ($) {
        var data1 = [12, 3, 4, 2, 12, 3, 4, 17, 22, 34, 54, 67];
        var data2 = [3, 9, 12, 14, 22, 32, 45, 12, 67, 45, 55, 7];
        var data3 = [23, 19, 11, 134, 242, 352, 435, 22, 637, 445, 555, 57];
        var data4 = [13, 19, 112, 114, 212, 332, 435, 132, 67, 45, 55, 7];
            
        $("#chart1").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data1
            }]
        });

        $("#chart2").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "polarbar",
                data: data2
            }]
        });

        $("#chart3").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "area",
                data: data3
            }]
        });

        $("#chart4").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "stepline",
                data: data4
            }]
        });
    });
</script>