<nav id="navbar" class="navbar">
    <div class="logo">
        <h1 class="mt-2"><a href="index.html"><span>Notaire</span></a></h1>
      </div>
    <ul>
      <li><a class="nav-link scrollto" routerLink="/home" routerLinkActive="active">Accueil</a></li>
      <li><a class="nav-link scrollto" routerLink="/about" routerLinkActive="active">A propos nous</a></li>
      <li><a class="nav-link scrollto" routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a class="nav-link scrollto" routerLink="/login" routerLinkActive="active">Log In</a></li>
      <li><a class="nav-link scrollto" routerLink="/signin" routerLinkActive="active">Sign Up</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>