// .navbar-toggler{
//     border: none;
//     font-size: 1.25rem;
   
// }

// .navbar-toggler:focus, .btn-close:focus{
//     box-shadow: none;
//     outline: none;
// }

.nav-link{
    font-weight: 500;
}

.navbar-brand{
    font-size: 18px;
    font-weight: 500;

}

.activelink{
  font-weight: 900;
}


