<nav class="navbar navbar-expand-lg bg-body-tertiary mt-3">
    <div class="container-fluid">
      <a class="navbar-brand me-auto mx-lg-4" href="#">Logo</a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body"  id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link mx-lg-2" routerLink="home" routerLinkActive="activelink">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" routerLink="/services" routerLinkActive="activelink">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-lg-2" routerLink="/about" routerLinkActive="activelink">À propos de nous</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-lg-2" routerLink="/contact" routerLinkActive="activelink">Contact</a>
              </li>
          </ul>
        </div>
      </div>
      
      
            <a routerLink="/login" routerLinkActive="active" class="btn btn-outline-primary" >Login</a>
            <a routerLink="/signin" routerLinkActive="active" class="btn btn-outline-success mx-lg-3">Sign In</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
 
    </div>
  </nav>