
<body>
    <div class="container">
        <div class="table-wrapper col-md-12">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Gérer <b>Procurations</b></h2>
					</div>
					
					<div class="col-sm-6">
						<form class="d-none d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" [(ngModel)]="searchText" name="searchText"/>
								<button class="btn btn-primary" id="btnNavbarSearch" type="button" (click)="search()"><i class="fas fa-search"></i></button>
							</div>
						</form>
						<a (click)="openFormAlert()" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter</span></a>
						<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Supprimer</span></a>						
					</div>
					
                </div>
            </div>
           <div class="col-md-12" style="overflow-x: auto">
			<table class="table table-hover" *ngIf="filteredProcuration.length > 0">
                <thead>
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        <th>Id</th>
                        <th>Nom Parent</th>
                        <th>Prénom Parent</th>
						<th>Date de naissance d'enfant</th>
                        <th>Adresse Parent</th>
                        <th>NNI Parent</th>
                        <th>Télephone Parent</th>
                        <th>Email Parent</th>
                        <th>Nom Enfant</th>
                        <th>Prénom Enfant</th>
                        <th>Nom Gardien</th>
                        <th>Prénom Gardien</th>
                        <th>Télephone Gardien</th>
                        <th>Date Voyage</th>
                        <th>Destination</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody  *ngFor="let procuration of filteredProcuration; index as i">
                    <tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
                        <td>{{procuration.id}}</td>
                        <td>{{procuration.nom_parent}}</td>
                        <td>{{procuration.prenom_parent}}</td>
						<td>{{procuration.date_naissance_enfant}}</td>
                        <td>{{procuration.adresse_parent}}</td>
                        <td>{{procuration.nni_parent}}</td>
                        <td>{{procuration.numero_tel_parent}}</td>
                        <td>{{procuration.email_parent}}</td>
                        <td>{{procuration.nom_enfant}}</td>
                        <td>{{procuration.prenom_enfant}}</td>
                        <td>{{procuration.nom_gardien}}</td>
                        <td>{{procuration.prenom_gardien}}</td>
                        <td>{{procuration.numero_tel_gardien}}</td>
                        <td>{{procuration.date_voyage}}</td>
                        <td>{{procuration.destination}}</td>
                        <td>
                            <a class="edit" data-toggle="modal" (click)="openUpdateAlert(procuration)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a class="delete" data-toggle="modal" (click)="delete(procuration.id,i)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            <!-- <a class="download" style="display: inline-block;" (click)="downloadActe(acte)"><i class="material-icons" data-toggle="tooltip" title="Download">&#xE2C0;</i></a> -->
                        </td>
                    </tr>
                 
                </tbody>
            </table>
		   </div>
			<table class="table table-striped table-hover" *ngIf="noResultat">
                <tbody>
					<p class="text-center">Pas des resultats</p>
                </tbody>
            </table>
			<!-- <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div> -->
        </div>
    </div>

	
</body>
