<section id="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1>Facilitez le Travail des Notaires avec <span>NotaireFacile</span></h1>
                    <h2>Nous sommes une équipe de développeurs dédiée à la création d'outils numériques pour les notaires</h2>
                    <div class="text-center text-lg-start">
                        <a routerLink="/signin" class="btn-get-started scrollto">Commencer</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="/assets/details-2.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                    <img src="/assets/gallery-7.jpg" class="img-fluid" alt="">
                </div>        

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                    <h3>Optimisez votre travail avec NotaireFacile</h3>
                    <p>NotaireFacile est conçu pour simplifier et organiser le travail des notaires en offrant des solutions numériques pratiques.</p>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-users"></i></div>
                        <h4 class="title"><a href="">Gestion des Acheteurs</a></h4>
                        <p class="description">Sauvegardez et gérez toutes les données des acheteurs facilement et en toute sécurité.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                        <h4 class="title"><a href="">Gestion des Vendeurs</a></h4>
                        <p class="description">Sauvegardez et gérez toutes les données des vendeurs de manière efficace.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="fas fa-file-signature"></i></div>
                        <h4 class="title"><a href="">Gestion des Terrains</a></h4>
                        <p class="description">Organisez et stockez les informations sur les terrains de façon structurée.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon"><i class="fas fa-file-pdf"></i></div>
                        <h4 class="title"><a href="">Gestion des Actes</a></h4>
                        <p class="description">Créez, sauvegardez et téléchargez les actes notariés en format PDF en toute simplicité.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
                        <div class="icon"><i class="fas fa-child"></i></div>
                        <h4 class="title"><a href="">Procuration pour Enfant Mineur</a></h4>
                        <p class="description">Gérez les procurations pour les enfants mineurs et téléchargez les documents en PDF.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->

    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright Groupe PFE ISCAE 2024<strong><span></span></strong>
            </div>
            <div class="credits">
                Développé par Groupe PFE
            </div>
        </div>
    </footer><!-- End Footer -->

</main>
