.card{
    margin-top: -38%;
    width: 80%;
    justify-content: center;
    margin-left: 18%;
}

label{
    font-weight: bold;
  }
 
  .but{
    background-color: rgb(255, 77, 0);
    color: #fff;
  }
  
  .but:hover{
    background-color: rgb(255, 77, 0);
  }

  .btn {
    width: 70px;
    height: 30px;
  }