@import '~bootstrap/dist/css/bootstrap.min.css';



html, body { height: 100%; }
body { 
    margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.swal2-wide {
    width: 500px !important; 
   
  }
  
  .swal2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swal2-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
